<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="eZet.EveLib" version="3.0.0.0" targetFramework="net452" />
  <package id="eZet.EveLib.Core" version="3.0.2.0" targetFramework="net452" />
  <package id="eZet.EveLib.Element43" version="3.0.0" targetFramework="net452" />
  <package id="eZet.EveLib.EveAuth" version="3.0.0" targetFramework="net452" />
  <package id="eZet.EveLib.EveCentral" version="3.0.0" targetFramework="net452" />
  <package id="eZet.EveLib.EveCrest" version="3.0.0.0" targetFramework="net452" />
  <package id="eZet.EveLib.EveMarketData" version="3.0.0" targetFramework="net452" />
  <package id="eZet.EveLib.EveWho" version="3.0.0" targetFramework="net452" />
  <package id="eZet.EveLib.EveXml" version="3.0.1.4" targetFramework="net452" />
  <package id="eZet.EveLib.StaticData" version="3.0.0" targetFramework="net452" />
  <package id="eZet.EveLib.ZKillboard" version="3.0.2.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net452" />
</packages>